/* classi utility */
.button {
  height: 40px;
  line-height: 40px;
  min-width: 60px;
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.button-get {
  background-color: #fe775a;
  color: #fff;
}
/* classi utility */
.navbar{
  height: 100px;
  line-height: 100px;
}
.logo{
  height: 40px;
}
.navbar li{
  display: inline-block;
}
