/* classi utility */
.button {
  height: 30px;
  line-height: 30px;
  min-width: 60px;
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
/* classi utility */

/* navbar */
.bl-section-one {
  background-color: #fff;
  height: 80px;
  line-height: 80px;
}

.bl-section-one .fa-angle-down {
  font-size: 15px;
  vertical-align: top;
  font-weight: bold;
}

.bl-section-one .button-sign-up {
  background-color: #fff;
  border:solid #2285fd 0.5px;
  color: #2285fd;
}

.bl-section-one .logo{
  width: 150px;
  vertical-align: bottom;
}

.bl-section-one nav > ul {
  line-height: 80px;
}

.bl-section-one nav > ul li {
display: inline-block;
line-height: 18px;
height: 18px;
padding-right: 10px;
}

.bl-section-one ul li i {
  width: 15px;
  padding-right: 5px;
}

.bl-section-one .hamb-menu {
  text-align: right;
}

.bl-section-one .hamb-menu {
  color: #2285fd;
  font-size: 15px;
}
/* /navbar */

/* jumbotron */
.bl-section-two {
  background-image: url(../img/bg-home.jpg);
  height: 400px;
  background-size: cover;
  background-position: left bottom;
}

.bl-section-two .claim {
  font-size: 20px;
  color: white;
  padding-top: 20px;
}

.bl-section-two .claim h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.bl-section-two .form {
  background-color: #fff;
  height: 380px;
}
