/* classi utility */
ul {
  list-style-type: none;
  padding: 0;
}
.bg-grey {
background-color: #f3f5f9;
}
.bg-gradient {
  background-image: linear-gradient(0deg, #00209b , #0045c3);
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #031c4e;
}
.color-lightblue {
  color: #006aff;
}
.font-white {
color: #fff;
}
.font-grey {
  color: #7d7d7d;
}
.font-blue {
  color: #031c4e;
}
.pad-40 {
  padding: 40px 0;
}
.pad-20 {
  padding: 20px 0
}
.pad-top-40 {
  padding-top: 40px;
}
.mrg-tb-12 {
  margin: 12px 0;
}
a:hover {
  color: #1dcbff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #031c4e;
}
.container [class*="hover-blue"]:hover {
 color: #031c4e;
 font-weight: bold;
 box-shadow: 2px 2px 5px #031c4e;
 cursor: pointer;
}
.font-bold {
  font-weight: bold;
}
.btn-blue {
  border:solid #3587ff 0.5px;
  color: #3587ff;
  font-size: 14px
}
.bl-circle {
  border: 2px solid #006aff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 50px 0;
}
.bl-circle:hover {
  background-color: #006aff;
  cursor: pointer;
}
.link-arrow::after {
  position: relative;
  margin-left: 8px;
  top: 4px;
  content: "›";
  font-size: 28px;
}
/* /classi utility */

/* navbar */
header .bl-navbar {
  height: 60px;
  line-height: 60px;
}

header .bl-navbar .row > ul {
  line-height: 60px;
}
header .bl-navbar .row > ul li {
display: inline-block;
line-height: 18px;
padding-left: 5px;
}
header .bl-navbar .row > ul li a {
  color: #0e2555;
}
header .bl-navbar ul li .logo{
  width: 150px;
  vertical-align: bottom;
}
header .bl-navbar ul li .fa-angle-down {
  font-size: 15px;
  vertical-align: top;
  font-weight: bold;
  width: 15px;
  padding-right: 10px;
}
header .bl-navbar .hamb-menu {
  text-align: right;
  color: #2285fd;
  font-size: 18px;
}
/* /navbar */

/* jumbotron */
header .bl-jumbotron {
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
}
header .bl-jumbotron .form .form-content {
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
}
header .bl-jumbotron .form .form-content input {
  border: 1px #f0f0f0 solid;
  width: 90%;
  border-radius: 5px;
  padding: 12px 5px;
}
header .bl-jumbotron .form-content .btn-light {
  width: 90%;
}
header .bl-jumbotron .form .form-content .create {
  background-color: #579aff;
  margin: 5px 0;
}
header .bl-jumbotron .form .form-content .google {
  background-image: url(../img/google.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5%;
  box-shadow: 1px 1px 2px lightgrey;
}
header .bl-jumbotron .form .form-content .agree {
  margin-top: 10px;
  padding: 0 10px;
}
/* /jumbotron */

/* sezione customer */
header .bl-section-costumer {
  padding: 20px 0;
}
header .bl-section-costumer .innovate,.link-stories {
  padding: 15px 0;
}
header .bl-section-costumer .img-cstr img {
  width: 150px;
  vertical-align: middle;
  margin: 30px 10px;
}

@media screen and (min-width: 768px) {
  header .bl-section-costumer .img-cstr img {
    width: 90px;
  }
}
@media screen and (min-width: 992px) {
  header .bl-section-costumer .img-cstr img {
    width: 120px;
  }
}
/* /sezione customer */

/* sezione deploy */
main .bl-section-deploy .claim-deploy {
  margin: 50px 0;
}
main .bl-section-deploy .claim-deploy p {
  padding: 0 5px;
}
main .bl-section-deploy .elenco .elenco-funzioni {
  margin-bottom: 10px;
}
main .bl-section-deploy .elenco .elenco-funzioni li>div {
  border-left: solid 1px #ccc;
  padding: 10px 10px;
  width: max-content;
}

@media screen and (min-width: 768px) {
  main .bl-section-deploy {
    margin-bottom: 60px;
  }
  main .bl-section-deploy .bl-box .box-content {
    padding-right: 5px;
  }
  main .bl-section-deploy .claim-deploy {
    padding: 0 25px;
  }
  main .bl-section-deploy .elenco-funzioni {
    margin: 50px 0 0 20px;
  }
  main .bl-section-deploy .bl-box {
    max-height: 180px;
    margin: 50px 0;
  }
}

@media screen and (min-width: 992px) {
  main .bl-section-deploy .bl-box {
    max-height: 120px;
  }
}
/* /sezione deploy */

/* sezione designed */
main .bl-section-designed .claim-designed p {
  padding: 0 15px;
}

main .bl-section-designed .bl-img-dev {
  width: 70%;
  display:inline-block;
  padding-top: 100px;
}
main .bl-section-designed .bl-img-dev img {
  vertical-align: middle;
  width: 70%;
}
main .bl-section-designed .bl-img-dev i {
  font-size: 30px;
  vertical-align: middle;
  color: #7d7d7d;
  padding: 0 5px;
}
main .bl-section-designed .create-server-claim {
  padding: 10px 60px;
}
main .bl-section-designed .circle-box {
  padding-top: 20px;
  display: inline-block;
}
/* /sezione designed */

/* sezione service regions */
main .bl-section-regions .box-country-speed {
 padding: 0 0 5px 15px;
 border-bottom: solid white 2px;
 margin: 0;
}
main .bl-section-regions .box-country-speed:last-child {
 border-bottom: none;
}
main .bl-section-regions .box-country-speed li {
 display: inline-block;
}
main .bl-section-regions .box-country-speed>li:first-child {
 width: calc(20% - 10px);
}
main .bl-section-regions .box-country-speed>li:nth-child(2) {
width: calc(45% - 10px);
}
main .bl-section-regions .box-country-speed>li:last-child {
 width: calc(35% - 10px);
 text-align: right;
}
/* sezione service regions */

/* sezione rockerbox */
main .bl-section-rockerbox .bl-rockerbox {
  display: inline-block;
  width: 80%;
  margin-top: 50px;
}
main .bl-section-rockerbox .bl-rockerbox i {
  font-size: 20px;
  border-radius: 5px;
  vertical-align: middle;
}
main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content {
  vertical-align: middle;
  width: 80%;
  display: inline-block;
  padding: 25px 0;
}
main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content img {
  width: 100%;
}
main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content ul .sotto-titolo {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content {
    width: 55%;
  }
  main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content img {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content {
    width: max-content;
    padding: 30px 5px;

  }
  main .bl-section-rockerbox .bl-rockerbox .bl-rockerbox-content img {
    width: 200px;
  }
}
/* /rockerbox */

/* footer */
footer .bl-section-footer .logo {
  width: 8%;
  padding-bottom: 10px;
}
footer .bl-section-footer .bl-fleft .proud {
  color: #586685;
}
footer .bl-section-footer .bl-fright .bl-footer-box a {
  color: #7d7d7d;
}
footer .bl-section-footer .bl-fright .bl-footer-box a:hover {
  color: #1dcbff;
}
footer .bl-section-footer .bl-fleft, .bl-fright {
  padding-top: 30px;
}
footer .bl-section-footer .bl-fleft .social-icon i{
  padding: 10px 8px 0 0px;
}

@media screen and (min-width: 992px) {
  footer .bl-section-footer .logo {
    width: 12%;
  }
}
/* /footer */

/* assistente */
.fumetto {
  position: fixed;
  left: 10px;
  bottom: 10px;
}
.fumetto img {
  width: 50px;
  margin-bottom: 10px;
}
.speech-bubble {
  position: relative;
	background-color: white;
	border-radius: 5px;
  width: max-content;
  padding: 5px;
  margin-bottom: 20px;
  display: none;
}
 .speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left-color: white;
	border-right: 0;
	margin-top: -7px;
	margin-right: -7px;
}
.fumetto:hover .speech-bubble {
  display: block;
}

@media screen and (min-width: 992px) {
  .speech-bubble {
    display: none;
  }
  .fumetto:hover .speech-bubble {
    display: inline-block;
  }
  .fumetto {
    bottom: 10px;
    left: auto;
    right: 10px;
  }
  .fumetto img {
    margin: 0 0 15px 10px;
  }
}
/* /assistente */
